.App {
    display: flex;
    flex-wrap: wrap;
}

.App > *{
    height : fit-content;
}

.form-group {
    width : 25vw;
    margin : 1vw;
    padding : 1vw;
}

.form-group button {
    margin : 0.5em
}