# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.WordWave.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Alexa\Documents\Projects\Alessia\Unity\WordWave\.idea\.idea.WordWave\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
